<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible' content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        {% if OK %}
        <h4>{{ OK }}</h4>
        {% else %}
        <h4>{{ error }}</h4>
        {% endif %}
        <label for="username">Введите логин</label>
        <input type="text" id="username" name="username" maxlength="30" required>

        <label for="password">Введите пароль</label>
        <input type="password" id="password" name="password" minlength="8" required>

        <label for="repeat_password">Повторите пароль</label>
        <input type="password" id="repeat_password" name="repeat_password" minlength="8" required>

        <label for="age">Введите свой возраст</label>
        <input type="int" id="age" name="age" maxlength="3" required>

        <button type="submit">Отправить</button>
    </form>

</body>
</html>